*{
    margin: 0;
    padding: 0;
}
  
body{
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
}
  
.datetime{
    color: #fff;
    background: transparent;
    font-family: 'Montserrat';
    width: 340px;
    padding: 15px 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
    flex-wrap: wrap;
}
  
.datetime:hover{
    background: black;
}
  
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
  
.time{
    font-size: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    display: flex;
    flex-wrap: wrap;
}
  
.time span:last-child{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
}

.nama{
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
}
.nama{
    color: white;
}
.nama a{
    color: white;
    text-decoration: none;
}

.nama a:hover
{
    color: white;
    text-decoration:none;
}

@media (max-width: 768px){
    .datetime {
        padding: 15px 10px;
        width: 100px;
    }

    .datetime:hover{
        background: black;
    }

    .date{
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 3px;
    }
      
    .time{
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
    }

    .time span:last-child{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-top: 10px;
        padding: 0 5px;
        border-radius: 3px;
        display: flex;
        flex-wrap: wrap;
    }

    .nama{
        font-size: 5px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding: 0 5px;
        border-radius: 3px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media(min-width: 769px) and (max-width: 992px){
    .datetime {
        padding: 15px 10px;
    }

    .datetime:hover{
        background: black;
    }

    .date{
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 3px;
    }
      
    .time{
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
    }

    .time span:last-child{
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 10px;
        padding: 0 5px;
        border-radius: 3px;
        display: flex;
    }
}