*{
    margin: 0;
    padding: 0;
}
  
body{
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
}
  
.datetime{
    color: #fff;
    background: transparent;
    font-family: 'Montserrat';
    width: 340px;
    padding: 15px 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}
  
.datetime:hover{
    background: black;
}
  
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
  
.time{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}
  
.time span:last-child{
    font-size: 65px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}
        